.grid-layout {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 64px auto;
  height: 100%;
  width: 100%;
}


nav.mdc-permanent-drawer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: 0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  z-index: 4;
}
.drawer-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mdc-theme-primary);
  border-bottom: 0;
}
.drawer-toolbar i {
  color: white;
}
.drawer-toolbar h1 {
  color: white;
  margin-left: 16px;
}
.icon-spacer {
  width: 24px;
  margin-right: 32px;
}
.mdc-permanent-drawer {
  background: var(--mdc-theme-primary);
}
.mdc-permanent-drawer--selected.mdc-list-item, .mdc-permanent-drawer--selected.mdc-list-item .mdc-list-item__start-detail {
  color: #FFF;
}


header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
header h2 {
  margin: 0;
}
header .mdc-toolbar {
  background: #FFF;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  z-index: 3;
  color: #000;
}


main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: #FAFAFA;
  padding: 24px;
  overflow: scroll;
}

.mdc-card {
  background: #FFF !important;
  margin: 16px 0;
}
