:root {
  --mdc-theme-primary: #00B0FF;
  --mdc-theme-primary-lightest: #80D8FF;
  --mdc-theme-primary-light: #40C4FF;
  --mdc-theme-primary-dark: #0091EA;
  --mdc-icon-color: #757575;
  --mdc-divider-color: rgba(0,0,0,0.12);
}
.app {
  background: #FAFAFA;
  height: 100vh;
  width: 100vw;
}
.grid-layout {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 64px auto;
  height: 100%;
  width: 100%;
}
main {
  overflow: scroll;
  height: calc(100vh - 64px);
}
.multiline-output {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.positive-score {
  color: #43A047;
}
.negative-score {
  color: #F44336;
}